# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# User-specific project settings
*/*.iml
*/target/
*/.idea_modules/
*/api/target/
*/app/target/
*/core/target/
*/storage/target/
*/test/target/