# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/*.iml
/avandra/target/
/avandra/.idea_modules/
/avandra/api/target/
/avandra/app/target/
/avandra/core/target/
/avandra/storage/target/
/avandra/test/target/