name: CI (Unit + IT)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  verify:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:27.1.2-dind
        options: --privileged

    steps:
      - uses: actions/checkout@v4

      - name: Set up Temurin JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven
      - name: Check Docker
        run: docker version

      - name: Build + Unit + Integration tests
        run: mvn -B -U verify
